<div class="hamburger" (click)="toggleSideMenu()" *ngIf="routes">
  <span id="hamburger-icon" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</div>

<aside id="side-menu" class="side-menu" data-visible="false">

  <ng-container *ngIf="routes">
    <div class="side-menu__information">
      <div class="row">
        <div class="col-xs-4">
          <app-icon iconClass="glyphicon-user"></app-icon>
        </div>
        <div class="col-xs-8">
          <b>Mr K Bolam</b>
          <br>
          <small>20/02/1991</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"><span class="label label-default"><b>NINO:</b></span></div>
        <div class="col-xs-8">NL12345D</div>
      </div>
      <div class="row">
        <div class="col-xs-4"><span class="label label-default"><b>Address:</b></span></div>
        <div class="col-xs-8">12 Merry Lane, Newcastle</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="routes">
    <ul id="side-menu__list" class="side-menu__list">
      <ng-container *ngFor="let route of routes">
        <li class="side-menu__list__item" *ngIf="route.path">
          <a routerLink="/child-benefits/{{ route.path }}" routerLinkActive="active">{{ route.data.title }}</a>
        </li>
      </ng-container>
    </ul>
  </ng-container>

</aside>