  <!-- Dashboard -->
  <div class="dashboard">

      <!-- Heading -->
      <div class="row">
        <div class="col-md-12">
          <div class="dashboard__heading">
            <h1 class="balance-text">HMRC National Insurance and PAYE System (NPS) Applications</h1>
            <p class="balance-text">Please select an application by clicking on one of the options below.</p>
          </div>
        </div>
      </div>

      <!-- Navigation -->
      <div class="row">
        <ul class="dashboard__navigation">

          <!-- Panel -->
          <app-dash-panel image="./assets/images/dashboard/child-benefits.png" description="Child Benefits Link" ></app-dash-panel>

        </ul>
      </div>

  </div>