/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eee !important;
}

main {
    background-color: #eee;
    float: left;
    width: calc(100% - 280px);
    position: relative;
    left: 0;
    transition: left 0.2s cubic-bezier(0.0,0.0,0.2,1);
}

@media only screen and (max-width: 992px) {
  main {
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .no-menu {
      left: -140px;
  }
}

/* Content */

.content {
  background-color: #fff;
  margin: 0 0 0 20px;
  padding: 30px;
  min-height: calc(100vh - 170px);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 1px;
  max-width: 1400px;
}

@media only screen and (max-width: 992px) {
  .content {
    width: calc(100vw - 40px);
  }
}

@media only screen and (max-width : 768px) {
  .content {
    margin: 0 !important;
    width: 100%;
  }
}

/* Loader */

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadein 2s;
  overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.loader-logo {
  background-image: url('./assets/images/logo/hmrc-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 80px;
  margin-bottom: 50px;
}

.loader > div > div {
  background-color: #777 !important;
}

/* Ng2-breadcrumb component */

.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb-container {
  margin-top: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #018983;
  border-bottom: 1px solid #047d77;
  height: 50px;
}

.breadcrumb-container ul {
  margin: 0; 
  padding: 0;
  text-transform: capitalize;
}

.breadcrumb-container ul li {
  padding-right: 10px;
}

.breadcrumb-container ul li a {
  text-decoration: underline;
  color: white;
}

.breadcrumb-container ul li.active span {
  color: white;
}

.breadcrumb-container--hidden {
  display: none;
}

.breadcrumb-container--hidden ~ main {
  width: 100% !important;
  max-width: none;
  display: block !important;
  margin-top: 70px;
}

.breadcrumb-container--hidden ~ main .content {
  box-shadow: none;
  min-height: calc(100vh - 120px);
  background-color: #eee;
  display: block;
  margin: 0 auto;
}

.breadcrumb-container--hidden ~ .no-menu {
    left: auto;
}

.side-menu__information .glyphicon-user {
  font-size: 30px;
  line-height: 1;
  top: 5px !important;
  color: #777;
}