.buttons-container {
  padding: 20px 20px;
  background: #ededed;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}