<app-heading text="Child Benefits"></app-heading>
<app-subheading text="{{pageTitle}}"></app-subheading>

<p>You are now at the homepage for the child benefits service</p>
<p>To enter an account please use the search facility</p>
<p>Select an account type and enter the identifier</p>

<br>

<div class="row">
  <div class="col-sm-6 col-xs-12">

    <div class="input-group input-group-lg">
      <span class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">NINO <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">CHB</a></li>
        <li><a href="#">EMPREF</a></li>
        <li><a href="#">TRN</a></li>
        <li><a href="#">NINO</a></li>
      </ul>
      </span>
      <input type="text" class="form-control" placeholder="Search&hellip;" >
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">
          <app-icon iconClass="glyphicon-search"></app-icon>
        </button>
      </span>
    </div>

  </div>
</div>