<header class="header">
    
    <!-- Logo -->
    <app-logo></app-logo>
    
    <!-- Search -->
    <app-search></app-search>
    
    <!-- Icons -->
    <ul class="header__icons">
      <li class="header__icons__search"><a href="#"><app-icon iconClass="glyphicon-search"></app-icon></a></li>
      <li><a href="#"><app-icon iconClass="glyphicon-cog"></app-icon></a></li>
      <li><a href="#"><app-icon iconClass="glyphicon-print"></app-icon></a></li>
      <li><a href="{{ query }}" target="blank"><app-icon iconClass="glyphicon-info-sign"></app-icon></a></li>
      <li><a href="#"><app-icon iconClass="glyphicon-log-out"></app-icon></a></li>
    </ul>
    
</header>